flask==3.0.3
flask-cors==4.0.1
gunicorn==22.0.0
spacy==3.7.4
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0.tar.gz
openai==1.40.6
